body {
	font-family: Inter;
	background-color: rgba(240, 235, 225, 1);
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	margin: 1rem 0rem;
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 30px;
}

.logo {
	width: 50px;
	border-radius: 9999px;
}

.navbar-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.navbar-link {
	font-weight: 700;
	font-size: 18px;
}

.navbar-link-active {
	text-decoration: underline black 2px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.login-button {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(38, 37, 34, 1);
	padding: 0.5rem 0.75rem;
	border-radius: 9999px;
	font-weight: 700;
}
.login-button:hover {
	background-color: rgba(38, 37, 34, 0.9);
}

.recipe-title {
	font-size: 30px;
	font-weight: 700;
	color: white;
}

.recipe-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	border-radius: 30px;
	background: #b6b0a4;
	padding: 35px;
}

.ingredients-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(117, 113, 105, 1);
	border-radius: 30px;
	padding: 20px;
	flex-grow: 1;
}

.recipe-image {
	border-radius: 30px;
	width: 300px;
	height: 300px;
}

.box-grid {
	display: flex;
	gap: 35px;
}

.ingredients-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
	color: white;
}

.ingredients-list {
	list-style-type: disc;
	padding-left: 20px;
	color: white;
	font-weight: 700;
    line-height: 1.5rem;
}

.ingredients-footer {
	color: white;
	font-weight: 700;
    margin-top: 1rem;
}

.instructions-container {
	background-color: rgba(117, 113, 105, 1);
	border-radius: 30px;
	padding: 20px;
}

.instructions-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
	color: white;
}

.instructions-list {
	list-style: decimal;
	color: white;
	padding-left: 20px;
	font-weight: 700;
    line-height: 1.5rem;
}


